*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}
#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 4em);
    height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}
#header {
    grid-column: 1/ 6;
    grid-row: 1/ 2;
    background-color:  rgb(172, 128, 137);;
    color: var(--colorwhite);
    padding: 20px;
    place-items: center;
    text-align: center;
    border: 7px solid var(--colorblack);
}
#nav {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    background-color: var(--colorblack);
    padding: 10px;
}
a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: var(--colorwhite);
    text-decoration: none;
    background-color: var(--colorblack); 
    padding: 10px;
    margin: 5px;
    font-size: x-large;
}
a:hover {
    background-color:  rgb(171, 143, 148);
    color: var(--colorwhite);
}
#section {
    display: grid;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    background-color: var(--colorwhite);
    padding: 20px;
    text-align: center;
    border: 6px solid  var(--colorblack);
    width: 100%;
    height: auto;
}
.info-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.section-image img {
    object-fit: cover;
    height: auto;
    width: 400px;
    max-width: 30%;
    border: none;
}
img:hover {
    box-shadow: 2px 12px 15px  rgb(172, 128, 137);;

}
.mening {
    text-shadow: 2px 2px 15px gold;
}

#main {
    grid-column: 1 / 5;
    grid-row: 4 / 7;
    background-color: var(--colorwhite);
    padding: 20px;
    border: 6px solid black;
    text-align: center;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 100vw;
}
.about:hover {
    box-shadow: 22px 12px 15px  rgb(172, 128, 137);
}
.about-img {
    width: 200px;
    height: auto;
    max-width: 40%;
    border: none;
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px;
}
.projects:hover {
    box-shadow: 22px 12px 15px rgb(172, 128, 137);
}
.music-video {
    display: grid;
    grid-column: 5/ 6;
    grid-row: 4/ 7;
    background-color:  rgb(172, 128, 137);
    width: auto;
    height: auto;
}
.media {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
video {
    object-fit: cover;
    width: 300px;
    max-width: 100%;
    height: auto;
    border: 3px solid var(--colorblack);
    border-radius: 10%;
    margin: 20px;

}
#footer {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    background-color: var(--colorblack);
    color: var(--colorwhite);
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}
.project-lista {
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   overflow-x: scroll;
   padding: 10px;
   justify-content: center;
   align-items: center;
   border: 3px solid var(--colorblack);
   gap: 10px;
}
h2 {
    font-size: 2em;
}
.p, h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-shadow: 2px 2px 5px rgb(239, 221, 123);
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}
.skills {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-shadow: 2px 2px 5px rgb(239, 221, 123);
    justify-content: center;
    text-align: center;
}
h3 {
    font-size: large;
    padding: 10px; 
}
h3:hover {
    background-color: rgb(241, 222, 119);
    box-shadow: 22px 12px 15px skyblue;
}
h4 {
    padding: 10px;
    font-size: large;
}
img {
    max-width: 100px;
    height: auto;
    border: 3px solid var(--colorblack);
    border-radius: 10px;
    overflow-x: scroll;

}

@media screen and (max-width: 600px)
    {
 #container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            margin: auto;
    }
 .info-section, .about, .projects, .project-lista, .media {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
    }
 #main, .music-video {
        grid-column: 1/ -1;
        grid-row: auto;
        padding: 10px;
    }

 video {
    object-fit: cover;
    width: 60%;
    height: auto;
   }
 img {
    max-width: 150px;
    height: auto;
   }
 
}

@media screen and (min-width:600px) and (max-width:900px){
            #container {
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows: auto;
            margin: auto;
            }
     .info-section, .about, .projects, .project-lista .media {
            display: flex;
            flex-direction: column;
            align-items: center;   
            }

       a {
        font-size: 1.2rem;
         }  

 
    #main {
        grid-column: 1/ -1;
        grid-row: auto;
        padding: 10px;
        }
    .music-video {
        grid-column: 1/ -1;
        grid-row: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    .music-video {
        grid-column: 1/ -1;
        grid-row: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    video {
    object-fit: cover;
    width: 60%;
    height: auto;
    } 
  img {
    max-width: 150px;
    height: auto;
  }
}
@media screen and (min-width:901px) {
    #container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    }
    
    .info-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    }
    .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 100vw;
}
.music-video {
    display: grid;
    grid-column: 5/ 6;
    grid-row: 4/ 7;
    background-color:  rgb(172, 128, 137);
    width: auto;
    height: auto;
}
#main {
    grid-column: 1 / 5;
    grid-row: 4 / 7;
    background-color: var(--colorwhite);
    padding: 20px;
    border: 6px solid black;
    text-align: center;
}
}

